@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navigation-foreground: rgba(30, 30, 30, 0.7);
  --navigation-border: rgba(143, 143, 143, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --navigation-foreground: rgba(30, 30, 30, 0.7);
    --navigation-border: rgba(143, 143, 143, 1);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
